In [20]:
#Question 1.
import numpy as np
import pandas as pd
import sklearn
dataset_train = pd.read_csv("titanic_train.csv")
dataset_test = pd.read_csv("titanic_test.csv")
d = dataset_train.append(dataset_test)
d.head()

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [22]:
#Question 2.
#Remove missing values from Survived cloumns.
print("no.of missing values before ",d['Survived'].isnull().sum(axis=0))
d.dropna(subset=['Survived'],inplace=True)
print("no.of missing values after ",d['Survived'].isnull().sum(axis=0))

no.of missing values before  418
no.of missing values after  0

In [55]:
#Question 3.
d['Has_Cabin'] = d['Cabin'].isnull()

In [106]:
#Question 4.
import re
d['Title']=d['Name'].apply(lambda x:re.search('([A-Z][a-z]+\.)',x))
d['Title']=d['Title'].apply(lambda x:x.group())
d['Title']=d['Title'].replace(['Dr.','Rev.','Major.','Mlle.','Col.','Sir.','Jonkheer.','Capt.','Lady.',\
                               'Countess.','Ms.','Don.','Mme.'],'Special')
d['Title'].value_counts()

Mr.        517
Miss.      182
Mrs.       125
Master.     40
Special     27
Name: Title, dtype: int64

In [74]:
#Question 5.
d.fillna(d.mean(), inplace=True)
d['Embarked'].fillna(d["Embarked"].mode(),inplace=True)
d['Cabin'].fillna(d["Cabin"].mode(),inplace=True)

In [104]:
#Question 6.
d['Categorical_age'] = pd.qcut(d['Age'], 10,duplicates='drop')
d['Categorical_fare'] = pd.qcut(d['Fare'], 10)

In [103]:
#Question 7.
d.drop(columns=['Cabin','Name','PassengerId','Ticket','Age','Fare','SibSp','Parch'])

,Embarked,Pclass,Sex,Survived,Has_Cabin,Title,Categorical_fare,Categorical_age
0,S,3,male,0.0,False,Mr.,"(-0.001, 7.55]","(20.0, 24.0]"
1,C,1,female,1.0,False,Mrs.,"(39.688, 77.958]","(32.5, 38.0]"
2,S,3,female,1.0,False,Miss.,"(7.854, 8.05]","(24.0, 28.0]"
3,S,1,female,1.0,False,Mrs.,"(39.688, 77.958]","(32.5, 38.0]"
4,S,3,male,0.0,True,Mr.,"(7.854, 8.05]","(32.5, 38.0]"
5,Q,3,male,0.0,True,Mr.,"(8.05, 10.5]","(28.0, 29.699]"
6,S,1,male,0.0,False,Mr.,"(39.688, 77.958]","(47.0, 80.0]"
7,S,3,male,0.0,True,Master.,"(14.454, 21.679]","(0.419, 16.0]"
8,S,3,female,1.0,True,Mrs.,"(10.5, 14.454]","(24.0, 28.0]"
9,C,2,female,1.0,True,Mrs.,"(27.0, 39.688]","(0.419, 16.0]"
10,S,3,female,1.0,False,Miss.,"(14.454, 21.679]","(0.419, 16.0]"
11,S,1,female,1.0,False,Miss.,"(21.679, 27.0]","(47.0, 80.0]"
12,S,3,male,0.0,True,Mr.,"(7.854, 8.05]","(16.0, 20.0]"
13,S,3,male,0.0,True,Mr.,"(27.0, 39.688]","(38.0, 47.0]"
14,S,3,female,0.0,True,Miss.,"(7.55, 7.854]","(0.419, 16.0]"
15,S,2,female,1.0,True,Mrs.,"(14.454, 21.679]","(47.0, 80.0]"
16,Q,3,male,0.0,True,Master.,"(27.0, 39.688]","(0.419, 16.0]"
17,S,2,male,1.0,True,Mr.,"(10.5, 14.454]","(28.0, 29.699]"
18,S,3,female,0.0,True,Mrs.,"(14.454, 21.679]","(29.699, 32.5]"
19,C,3,female,1.0,True,Mrs.,"(-0.001, 7.55]","(28.0, 29.699]"
20,S,2,male,0.0,True,Mr.,"(21.679, 27.0]","(32.5, 38.0]"
21,S,2,male,1.0,False,Mr.,"(10.5, 14.454]","(32.5, 38.0]"
22,Q,3,female,1.0,True,Miss.,"(7.854, 8.05]","(0.419, 16.0]"
23,S,1,male,1.0,False,Mr.,"(27.0, 39.688]","(24.0, 28.0]"
24,S,3,female,0.0,True,Miss.,"(14.454, 21.679]","(0.419, 16.0]"
25,S,3,female,1.0,True,Mrs.,"(27.0, 39.688]","(32.5, 38.0]"
26,C,3,male,0.0,True,Mr.,"(-0.001, 7.55]","(28.0, 29.699]"
27,S,1,male,0.0,False,Mr.,"(77.958, 512.329]","(16.0, 20.0]"
28,Q,3,female,1.0,True,Miss.,"(7.854, 8.05]","(28.0, 29.699]"
29,S,3,male,0.0,True,Mr.,"(7.854, 8.05]","(28.0, 29.699]"
...,...,...,...,...,...,...,...,...
861,S,2,male,0.0,True,Mr.,"(10.5, 14.454]","(20.0, 24.0]"
862,S,1,female,1.0,False,Mrs.,"(21.679, 27.0]","(47.0, 80.0]"
863,S,3,female,0.0,True,Miss.,"(39.688, 77.958]","(28.0, 29.699]"
864,S,2,male,0.0,True,Mr.,"(10.5, 14.454]","(20.0, 24.0]"
865,S,2,female,1.0,True,Mrs.,"(10.5, 14.454]","(38.0, 47.0]"
866,C,2,female,1.0,True,Miss.,"(10.5, 14.454]","(24.0, 28.0]"
867,S,1,male,0.0,False,Mr.,"(39.688, 77.958]","(29.699, 32.5]"
868,S,3,male,0.0,True,Mr.,"(8.05, 10.5]","(28.0, 29.699]"
869,S,3,male,1.0,True,Master.,"(10.5, 14.454]","(0.419, 16.0]"
870,S,3,male,0.0,True,Mr.,"(7.854, 8.05]","(24.0, 28.0]"
871,S,1,female,1.0,False,Mrs.,"(39.688, 77.958]","(38.0, 47.0]"
872,S,1,male,0.0,False,Mr.,"(-0.001, 7.55]","(32.5, 38.0]"
873,S,3,male,0.0,True,Mr.,"(8.05, 10.5]","(38.0, 47.0]"
874,C,2,female,1.0,True,Mrs.,"(21.679, 27.0]","(24.0, 28.0]"
875,C,3,female,1.0,True,Miss.,"(-0.001, 7.55]","(0.419, 16.0]"
876,S,3,male,0.0,True,Mr.,"(8.05, 10.5]","(16.0, 20.0]"
877,S,3,male,0.0,True,Mr.,"(7.854, 8.05]","(16.0, 20.0]"
878,S,3,male,0.0,True,Mr.,"(7.854, 8.05]","(28.0, 29.699]"
879,C,1,female,1.0,False,Mrs.,"(77.958, 512.329]","(47.0, 80.0]"
880,S,2,female,1.0,True,Mrs.,"(21.679, 27.0]","(24.0, 28.0]"
881,S,3,male,0.0,True,Mr.,"(7.854, 8.05]","(32.5, 38.0]"
882,S,3,female,0.0,True,Miss.,"(10.5, 14.454]","(20.0, 24.0]"
883,S,2,male,0.0,True,Mr.,"(8.05, 10.5]","(24.0, 28.0]"
884,S,3,male,0.0,True,Mr.,"(-0.001, 7.55]","(24.0, 28.0]"
885,Q,3,female,0.0,True,Mrs.,"(27.0, 39.688]","(38.0, 47.0]"
886,S,2,male,0.0,True,Special,"(10.5, 14.454]","(24.0, 28.0]"
887,S,1,female,1.0,False,Miss.,"(27.0, 39.688]","(16.0, 20.0]"
888,S,3,female,0.0,True,Miss.,"(21.679, 27.0]","(28.0, 29.699]"
889,C,1,male,1.0,False,Mr.,"(27.0, 39.688]","(24.0, 28.0]"
890,Q,3,male,0.0,True,Mr.,"(7.55, 7.854]","(29.699, 32.5]"

In [130]:
#Question 8.
pd.get_dummies(d.columns)

,Age,Cabin,Categorical_age,Categorical_fare,Embarked,Fare,Has_Cabin,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
12,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
14,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
15,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [128]:
#Question 9.
li = list(set(d.columns)-set(['Survived','Sex','PassengerId','Name','Ticket','Cabin',\
                              'Embarked','Title','Has_Cabin','Categorical_fare','Categorical_age']))
x = d[li]
y = d['Survived']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [129]:
#Question 10.
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)
pd.DataFrame({'Actual':y_test,"Predicted":y_pred})

     Actual  Predicted
495     0.0   0.240700
648     0.0   0.236348
278     0.0   0.302545
31      1.0   0.681189
255     1.0   0.342837
298     1.0   0.654055
609     1.0   0.645971
318     1.0   0.823733
484     1.0   0.685288
367     1.0   0.236146
704     0.0   0.221305
346     1.0   0.355860
196     0.0   0.236474
535     1.0   0.734098
310     1.0   0.734558
14      0.0   0.366917
350     0.0   0.293038
145     0.0   0.547183
614     0.0   0.192641
803     1.0   0.528030
144     0.0   0.537620
708     1.0   0.794252
778     0.0   0.236466
270     0.0   0.654370
474     0.0   0.301728
319     1.0   0.635987
519     0.0   0.217458
141     1.0   0.300413
880     1.0   0.536538
642     0.0   0.437170
..      ...        ...
158     0.0   0.237049
62      0.0   0.514402
79      1.0   0.236952
503     0.0   0.177000
231     0.0   0.242296
389     1.0   0.546239
619     0.0   0.470552
362     0.0   0.161545
570     1.0   0.171581
264     0.0   0.236474
644     1.0   0.440145
384     0.0   0.236566
762     1.0   0.316695
513     1.0   0.424493
85      1.0   0.076297
352     0.0   0.360180
75      0.0   0.275436
631     0.0   0.059137
395     0.0   0.300442
294     0.0   0.283896
500     0.0   0.342512
222     0.0   0.059765
1       1.0   0.564855
425     0.0   0.236159
760     0.0   0.240726
780     1.0   0.374828
837     0.0   0.236663
215     1.0   0.649442
833     0.0   0.292174
372     0.0   0.325517

[179 rows x 2 columns]

In [126]:
#Question 11.
sklearn.metrics.accuracy_score(y_test, y_pred.round(),normalize=True)

0.7374301675977654